/* Custom styles */
body,
html {
  background-color: #e7e8d8;
  color: rgb(0, 0, 0);
}

table {
  font-family: arial, sans-serif;
  color: #050505;
  border-collapse: collapse;
  margin: 50px 10px 50px 10px;
  width: 450px;
  height: 20px;
}

td,
th {
  background-color: ;
  border: 1px solid #050505;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
  color: #050505;
}

#content {
  text-align: center;
}

#content h1 {
  font-size: 40px;
  color: #b5cfb7;
}

#topnav {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #bc9f8b;
  font-size: 21px;
  font-weight: 900;
  padding: 25px;
  text-decoration: none;
}

.p-content {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}

.fruit {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.tableContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.listfood {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 50px;
}
